body{
    font-family: 'Poppins', sans-serif;
}
#margin-left{
    border-left: 5px orange solid;
    font-size: 30px;
}
.second-class{
    font-size: 40px;
}
.third-class{
    color: orange;
}
section{
    display: flex;
}
.first-class{
    width: 50%;
    padding-left: 7%;
    padding-right: 2%;
}
.first-class img{
    width: 60%;
    padding-left: 15%;
}
.explore-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    color: wheat;
    border-radius: 5px;
}
.fifth-class{
    color: yellowgreen;
}
.six-class{
    text-align: center;
}
.seven-class{
    display: flex;
    border: tomato;
}
.nine-class{
    width: 34%;
}
.ten-class{
    width: 32%;
    border: 1px solid rgb(206, 186, 186);
    padding: 10px;
    margin: 45px;
    border-radius: 25px;
}
#rotary-clg{
    background-color: rgb(197, 194, 197);
    margin-right: 15px;
}
#public-clg{
    background-color: rgb(236, 221, 193);
}
#bl-clg{
    background-color: rgba(8, 243, 184, 0.418);
    margin-left: 15px;
}
.rupsa-class{
    display: flex;
    padding: 10px;
    margin-top: 40px;
    background-image: url(shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.citra-class{
    width: 50%;
}
.citra-class img{
    width: 50%;
    margin-left: 120px;
}
#padma-class{
    margin-right: 100px;
    padding-right: 40px;
}
.jamuna-class{
    font-size: 30px;

}
.read-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 35px;
    border-radius: 5px;
    color: cornsilk;
}
.global-class{
    display: flex;
    background-image: url(shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 60px;
    margin-top: 40px;
}
.glove-class{
    font-size: 30px;
}
.bd-class{
    width: 50%;
}
.bd-class img{
    width: 50%;
    margin-left: 30px;
}
#student-class{
    padding-right: 90px;
}
.document-button{
    text-decoration: none;
    background-image: linear-gradient(orange,yellow);
    padding: 10px 35px;
    border-radius: 5px;
    color: rgb(245, 242, 236);
}
.mission-class{
    background-color: black;
    height: 150px;

}
.easy-class{
    color: blanchedalmond;
    text-align: center;
    border-top: 50px;
}
.year-class{
    color: rgb(153, 139, 119);

}
.hard-class{
    color: cadetblue;
    text-align: center;
}
.nam-class{
    color: chocolate;
}
.personal-class{
    display: flex;
    padding: 10px;
    margin-top: 40px;
}
.my-class{
    width: 50%;
}
.my-class img{
    width: 50%;
    margin-left: 30px;

}
.personal-class{
    margin-left: 50px;
}